@font-face {
    font-family: "Chalkduster";
    src: url('../assets/fonts/Chalkduster.ttf') format("truetype");
}

@font-face {
    font-family: "HanYiZhuanShu";
    src: url('../assets/fonts/汉仪篆书繁.TTF') format("truetype");
}

@font-face {
    font-family: "Papyrus";
    src: url('../assets/fonts/Papyrus.ttc') format("truetype");
}

@font-face {
    font-family: "Nanum Pen Script";
    src: url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script') format("truetype");

}